/* General styles for all menus */
#showLeft{
  padding-left:170px;
}

.cbp-spmenu-title{
  cursor: w-resize;
  background: #18BC9C;
}

.showLeft-collapsed{
  cursor: e-resize;
}

.cbp-spmenu {
  background: white;
  position: fixed;
  width: 340px !important;
  margin-top: 60px !important;
  overflow: scroll !important;
}

.cbp-spmenu h3 {
  color: black;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu ul {
  color: black;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cbp-spmenu li  {
  display: block;
  color: black;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu li:hover {
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

#map_filters li{ border-bottom: None !important;
  font-size:10px;
}
#map_filters .jstree-ocl{
  background-position: 0px -4px !important;
}

.cbp-spmenu-vertical {
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 1000;
}
.cbp-spmenu-vertical-item-parent{
  text-align: left;
}
.cbp-spmenu-vertical li.cbp-spmenu-vertical-item-parent{
  border-bottom: 1px solid #258ecd;
  padding: 0.5em;
}
.cbp-spmenu-vertical li.cbp-spmenu-vertical-item-child{
  border-bottom: 1px solid #258ecd;
  padding: 0.5em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  padding-top:0px; /* Matching response design rule of the bootstrap theme. */
  left: -300px; /* Let the menu sneak in a bit when it is collapsed so that we can clikc on it to bring it back. */
  /*left: -240px;*/
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* Transitions */

.cbp-spmenu{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Map container */
.map-container{
  padding-top:50px;
}

@media(min-width:768px) {
  .cbp-spmenu-left {
    /*left: -240px;*/
    left: -240px; /* Let the menu sneak in a bit when it is collapsed so that we can clikc on it to bring it back. */
    padding-top:0px;  /* Matching response design rule of the bootstrap theme. */
  }

  /* Map container */
  .map-container{
    padding-top:70px;
  }
}