{% extends "viz.html" %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='konsolidovani-budzet/style.css') }}"/>
    <style>
        .tour-overlay {
            display: none;
            background: #666;
            opacity: 0.3;
            z-index: 9997;
            min-height: 100%;
            height: 100%;
            position: fixed;
            top: 0; right: 0; bottom: 0; left: 0;
        }
        .tour-highlight {
            background: white;
            position: relative;
            border-radius: 4px;
            box-shadow: inset 0 0 2px rgba( 0, 0, 0, 0.2 );
            z-index: 9998;
        }
    </style>
{% endblock %}

{% block script %}
    {{ super() }}
    <script>

        var POST_URL = "{{url_for('api.konsolidovani_budzet')}}";
        var HOST_AND_DIR = HOST + "{{ url_for('konsolidovani_budzet.index') }}";
        // This is the GEO JSON file url, which will be used for Map
        var MAP_GEOJSON_URL = "{{ url_for('static', filename='geojson/SRB_adm2_KOS_adm0.json') }}";

    </script>
    <script src="{{ url_for('static', filename='konsolidovani-budzet/script.js')}}"></script>

    <script type="text/javascript">

        $(document).ready(function(){

            showHideDescriptions('fiscal-type-barchart');
            initChartTypeDropdown();
            initFiscalTypeDropdowns();
            initVisualizeButton();
            initTour();
              $('#view_selection a').click(function() {
                    var view_type = $(this).attr('id');
                    $('#view_selection a').removeClass('active');
                    $(this).toggleClass('active');
                    if (view_type=='year'){

                        toggle_year();
                    }
                    else{
                        toggle_all();
                    }
                    return false;
              });

            {% if data is not none and data != 'null' %}
                // If URL is a share URL, then render the chart that is being shared.
                var chartData = '{{ data|safe }}';
                var chartType = undefined;
                var fiscalType = undefined;
                var dataSeries = undefined;
                var group_by = undefined;

                {% if chart_type is not none %}
                        chartType = "{{ chart_type|safe  }}";
                        fiscalType = "{{ fiscal_type|safe  }}";
                        group_by = '{{ group_by|safe }}';
                        console.log(chartType);
                        $('#chart-type-dd').val(chartType);
                        if(chartType == "Barchart"){
                            dataSeries = "{{ data_series|safe  }}";
                            $('#fiscal-type-barchart').val(fiscalType);
                            $('#data-series-barchart').val(dataSeries);
                            $('#group-by').val(group_by);
                            initBarchartOnLoadDropDownShowHide();

                        }

                        else if(chartType == "Map"){
                            dataSeries = "{{ data_series|safe  }}";
                            $('#fiscal-type-map').val(fiscalType);
                            $('#data-series-map').val(dataSeries);
                            initFiscalTypeDropdowns();
                            initMapOnLoadDropDownShowHide();
                        }
                        else if(chartType == "Scatterplot"){
                            dataSeries = [];
                            dataSeries = {{ data_series|tojson  }};
                            $("#data-series-scatterplot").val(dataSeries);
                            initScatterplotOnLoadDropDownShowHide();
                        }
                        else if(chartType == "Floating Bubbles"){
                            $('#floatingLabels').hide();
                            var disaggregated_by = "{{ disaggregated_by|safe }}";
                            var group_by_bubble = "{{ group_by_bubble|safe }}";
                            var fiscal_type = "{{ fiscal_type|safe }}";
                            var data_series = "{{ dataSeries|safe }}";
                            $('#fiscal-type-floating-bubbles').val();
                            $("#data-series-floating-bubbles").val();
                            $("#floating-bubbles-group-by").val();
                            $("#disaggregate-by").val(disaggregated_by);

                            initFloatingBubblesOnLoadDropDownShowHide();
                            var data_selected = [];
                            if(disaggregated_by == "Year"){
                                data_selected = {{ selected_years|safe }};
                            }
                            else if (disaggregated_by == "Municipality"){
                                data_selected = {{ selected_municipalities|safe }};
                            }
                            else if(disaggregated_by == "Description" && fiscalType=="Revenue"){
                                data_selected = {{ selected_descriptions_rev|safe }};
                            }
                            else if(disaggregated_by == "Description" && fiscalType=="Expenditure"){
                                data_selected = {{ selected_descriptions_exp|safe }};
                            }
                            generateLabelsFlotingBubbles(data_selected);
                        }

                {% endif %}

                {% if data_series is not none %}
                        dataSeries = "{{ data_series|safe  }}";
                {% endif %}

                    {% if fiscal_type is not none %}
                        fiscalType = "{{ fiscal_type|safe  }}";
                        if (fiscalType=="Revenue" && chartType != "Scatterplot"){
                                $('#expenditure-descriptions-container').css('display', 'none');
                                $('#revenue-descriptions-container').css('display', 'block');
                            }
                        else if (fiscalType=="Expenditure"  && chartType != "Scatterplot"){
                            $('#revenue-descriptions-container').css('display', 'none');
                            $('#expenditure-descriptions-container').css('display', 'block');
                        }
                        else if (chartType == "Scatterplot"){
                            $('#revenue-descriptions-container').css('display', 'block');
                            $('#expenditure-descriptions-container').css('display', 'block');
                        }
                {% endif %}
            jstree_menu('tree_years');
            jstree_menu('tree_municipalities');
            jstree_menu('tree_income_types');
            jstree_menu('tree_revenue_descriptions');
            jstree_menu('tree_expenditure_descriptions');

            renderChart(JSON.parse(chartData), chartType, dataSeries, fiscalType);
            // TODO: select values in form to show user what are there selected query parameters
            {% else %}
            jstree_menu('tree_years');
            jstree_menu('tree_municipalities');
            jstree_menu('tree_income_types');
            jstree_menu('tree_revenue_descriptions');
            jstree_menu('tree_expenditure_descriptions');
            {% endif %}

        });

        function jstree_menu(containerRef) {
            var datum = [];
            if (containerRef == "tree_years") {
                datum = {{ tree_years|safe }};
            } else if (containerRef == "tree_municipalities") {
                datum = {{ tree_municipalities|safe }};
            } else if (containerRef == "tree_income_types") {
                datum = {{ tree_income_types|safe }};
            } else if (containerRef == "tree_revenue_descriptions") {
                datum = {{ tree_revenue_descriptions|safe }};
            } else if (containerRef == "tree_expenditure_descriptions") {
                datum = {{ tree_expenditure_descriptions|safe }};
            }

            if (containerRef == "tree_income_types") {
                config_js_income_types['core']['data'] = datum;
                $('#' + containerRef).jstree(config_js_income_types).bind("loaded.jstree", function (NODE, REF_NODE) {

                    {% if data is not none and data != 'null' %}
                        var selected_income_type = {{ selected_income_type | safe }};
                        $('#' + containerRef).jstree().check_node(selected_municipalities[index].toString());
                        for (var index in selected_income_type) {
                            $('#' + containerRef).jstree().check_node(selected_income_type[index].toString());
                        }
                    {% endif %}
                });

            } else {
                config_js['core']['data'] = datum;
                $('#' + containerRef).jstree(config_js).bind("loaded.jstree", function (NODE, REF_NODE) {

                    {% if data is not none and data != 'null' %}
                        var selected_years = {{ selected_years | safe }};
                        var selected_municipalities = {{ selected_municipalities | safe }};
                        var selected_descriptions_exp = {{ selected_descriptions_exp | safe }};
                        var selected_descriptions_rev = {{ selected_descriptions_rev | safe }};

                        for (var index in selected_years) {
                            $('#' + containerRef).jstree().check_node(selected_years[index].toString());
                        }
                        for (var index in selected_municipalities) {
                            $('#' + containerRef).jstree().check_node(selected_municipalities[index].toString());
                        }
                        for (var index in selected_descriptions_exp) {
                            $('#' + containerRef).jstree().check_node(selected_descriptions_exp[index].toString());
                        }
                        for (var index in selected_descriptions_rev) {
                            $('#' + containerRef).jstree().check_node(selected_descriptions_rev[index].toString());
                        }
                    {% endif %}
                });

            }
        }

    </script>
{% endblock %}

{% block sidebar %}
<form role="form" id="chart-config-form" style="border-style: solid; border-width: 1px; border-color: #0099CC;">
    <!--
    <ul>
        <li id="menuTitle" class="cbp-spmenu-title"><b>Controls</b>
          <span id="showLeft" class="showLeft">&laquo;</span>
        </li>
    </ul>
    -->
    <ul id="scroll-content">
        <li class="cbp-spmenu-vertical-item-child" data-section="chart-type" id="chart-section-content">
            {{ form.visualizations.label(class="control-label chart-type-label") }}
            <div class="form-group">
            {{ form.visualizations(class="form-control", id="chart-type-dd") }}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="data-barchart">
          Podaci
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="data-barchart" id="barchart-section-content">
            {{ form.fiscal_type_barchart.label(class="control-label fiscal-type-barchart-label") }}
            <div class="form-group">
                {{form.fiscal_type_barchart(class="form-control", id="fiscal-type-barchart")}}
            </div>

            {{ form.data_series_barchart.label(class="control-label data-series-barchart-label") }}
            <div class="form-group">
                {{form.data_series_barchart(class="form-control", id="data-series-barchart")}}
            </div>

            {{ form.group_by.label(class="control-label group-by-label") }}
            <div class="form-group">
                {{form.group_by(class="form-control", id="group-by")}}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="data-scatterplot" style="display:none">
          Podaci
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="data-scatterplot" id="scatterplot-section-content" style="display:none">
            {{ form.data_series_scatterplot.label(class="control-label") }}
            <div class="form-group">
                {{form.data_series_scatterplot(class="form-control", id="data-series-scatterplot")}}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="data-map" style="display:none">
          Podaci
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="data-map" id="map-section-content" style="display:none">
            {{ form.fiscal_type_map.label(class="control-label") }}
            <div class="form-group">
                {{form.fiscal_type_map(class="form-control", id="fiscal-type-map")}}
            </div>

            {{ form.data_series_map.label(class="control-label") }}
            <div class="form-group">
                {{form.data_series_map(class="form-control", id="data-series-map")}}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="data-floating-bubbles" style="display:none">
          Podaci
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="data-floating-bubbles" id="floating-bubbles-section-content" style="display:none">
            {{ form.fiscal_type_floating_bubbles.label(class="control-label fiscal-type-floating-bubbles-label") }}
            <div class="form-group">
                {{form.fiscal_type_floating_bubbles(class="form-control", id="fiscal-type-floating-bubbles")}}
            </div>

            {{ form.data_series_floating_bubbles.label(class="control-label data-series-floating-bubbles-label") }}
            <div class="form-group">
                {{form.data_series_floating_bubbles(class="form-control", id="data-series-floating-bubbles")}}
            </div>

            {{ form.group_by.label(class="control-label group-by-label") }}
            <div class="form-group">
                {{form.floating_bubbles_group_by(class="form-control", id="floating-bubbles-group-by")}}
            </div>

            {{ form.disaggregate_by.label(class="control-label disaggregate-by-label") }}
            <div class="form-group">
                {{form.disaggregate_by(class="form-control", id="disaggregate-by")}}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="filters">
          Filteri
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="filters" id="filter-section-content">


            <div id="tree_years">
            </div>

            <div id="tree_municipalities">
            </div>

            <div id="tree_income_types">
            </div>

            <div id="revenue-descriptions-container" >
                <div id="tree_revenue_descriptions">
                </div>
            </div>

            <div id="expenditure-descriptions-container">
                <div id="tree_expenditure_descriptions">
                </div>
            </div>
        </li>

        <li>
          <button type="button" class="form-control btn-success" id="visualize-button">Vizualizovati</button>
        </li>
    </ul>
</form>
<br><br><br><br>
<div class='tour-overlay'></div>
{% endblock %}

{% block jumbotron %}
    <h2>Finansijski izveštaji</h2>
{% endblock %}
