hr.header {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.header:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
ul.dropdown-menu {
    width: 240px;
}

#cbp-spmenu-s1{

	position: absolute;
}
#filter-section-content{
    overflow: scroll !important;
}
#floatingLabels label {
	font-weight: bold;
	background: linear-gradient(#f1f1f1, #e2e2e2);
	padding: 5px 10px;
	color: #444;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	line-height: 1.5em;
	text-align: center;
	cursor: pointer;
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;
}

#main{
    overflow-x: scroll;
}

#chart-container{
    margin-top: 100px;
}


