{% extends "viz.html" %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='lokalna-javna-produzeca/style.css') }}"/>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='lokalna-javna-produzeca/script.js')}}"></script>

    <script type="text/javascript">

        var POST_URL = "{{ url_for('api.lokalna_javna_produzeca') }}";
        var HOST_AND_DIR = HOST + "{{ url_for('lokalna_javna_produzeca.index') }}";
        // This is the GEO JSON file url, which will be used for Map
        var MAP_GEOJSON_URL = "{{ url_for('static', filename='geojson/SRB_adm2_KOS_adm0.json') }}";


        $(document).ready(function(){
             $('#view_selection a').click(function() {
                    var view_type = $(this).attr('id');
                    $('#view_selection a').removeClass('active');
                    $(this).toggleClass('active');
                    if (view_type=='year'){
                        toggle_year();
                    }
                    else{
                        toggle_all();
                    }
                    return false;
             });

            initChartTypeDropdowns();
            initBarchartCategories();
            hideCategories(".form-control-barchart");

            initFloatingBubblesCategories();
            hideCategories(".form-control-floatingbubbles");

            initMapCategories();
            hideCategories(".form-control-map");


            initScatterplotCategories();
            hideCategories(".form-control-scatterplot-x-axis");
            hideCategories(".form-control-scatterplot-y-axis");

            initBarchartVisualizationButton();
            initMapVisualizationButton();
            initScatterplotVisualizationButton();
            initFloatingBubblesVisualizationButton();



            {% if data is not none and data != 'null' %}
                // If URL is a share URL, then render the chart that is being shared.
                var chartData = undefined;
                var chartType = undefined;
                var dataSeries = null;

                {% if data is not none %}
                    chartData = {{ data|safe  }};
                {% endif %}

                {% if chart_type is not none %}
                    chartType = '{{ chart_type|safe }}';
                {% endif %}

                if(chartType == "Barchart"){
                    var ukupni_rashodi_categories, poslovni_rashodi_categories, ostali_categories = null;
                    jstree_menu('tree_years', 'bar_');
                     jstree_menu('tree_municipalities', 'bar_');
                     jstree_menu('tree_activities', 'bar_');
                     jstree_menu('tree_companies', 'bar_');
                     jstree_menu('tree_owners', 'bar_');
                    $('#barchart-config-form').show();
                    $('#map-config-form').hide();
                    $('#scatterplot-config-form').hide();
                    $('#floatingbubbles-config-form').hide();
                    $('#chart-type-map').val('Map');
                    $('#chart-type-scatterplot').val('Scatterplot');
                    $('#chart-type-floatingbubbles').val('Floating Bubbles');
                     dataSeries = {{ data_series|safe }}
                     {% if ukupni_rashodi_categories is not none %}
                        ukupni_rashodi_categories = {{ ukupni_rashodi_categories|safe }};
                     {% endif %}
                    {% if poslovni_rashodi_categories is not none %}
                        poslovni_rashodi_categories = {{ poslovni_rashodi_categories|safe }};
                     {% endif %}
                    {% if ostali_categories is not none %}
                        ostali_categories = {{ ostali_categories|safe }};
                     {% endif %}
                     initOnLoadBarchartCategories(dataSeries, ukupni_rashodi_categories, poslovni_rashodi_categories, ostali_categories)
                     renderBarchart(chartData);
                }
                else if(chartType == "Map"){
                    $('#barchart-config-form').hide();
                    $('#floatingbubbles-config-form').hide();
                    $('#map-config-form').show();
                    $('#scatterplot-config-form').hide();
                    $('#chart-type-scatterplot').val('Scatterplot');
                    $('#chart-type-barchart').val('Barchart');
                    $('#chart-type-floatingbubbles').val('Floating Bubbles');
                     jstree_menu('tree_years', 'map_');
                     jstree_menu('tree_municipalities', 'map_');
                     jstree_menu('tree_activities', 'map_');
                     jstree_menu('tree_companies', 'map_');
                     jstree_menu('tree_owners', 'map_');
                     dataSeries = {{ data_series|safe }};
                     var categories = {{ categories|safe }};
                     initOnLoadMapCategories(dataSeries, categories);
                     renderMap(chartData);

                }else if(chartType == "Scatterplot"){
                    $('#barchart-config-form').hide();
                    $('#floatingbubbles-config-form').hide();
                    $('#map-config-form').hide();
                    $('#scatterplot-config-form').show();
                    $('#chart-type-map').val('Map');
                    $('#chart-type-barchart').val('Barchart');
                    $('#chart-type-floatingbubbles').val('Floating Bubbles');
                    dataSeries = {{ data_series|safe }};
                    var x_series = "{{ x_series|safe }}";
                    var y_series = "{{ y_series|safe }}";
                    var categories_x = {{ categories_x|safe }};
                    var categories_y = {{ categories_y|safe }};

                    $('.form-control-scatterplot.data-series').val(dataSeries);
                    initOnLoadScatterplotCategories(x_series, y_series, categories_x, categories_y);

                    jstree_menu('tree_years', 'scatter_');
                    jstree_menu('tree_municipalities', 'scatter_');
                    jstree_menu('tree_activities', 'scatter_');
                    jstree_menu('tree_companies', 'scatter_');
                    jstree_menu('tree_owners', 'scatter_');
                    renderScatterplot(chartData, x_series, y_series);
                }
                else if(chartType == "Floating Bubbles"){
                    var disaggregated_by= "{{ disaggregated_by|safe }}";
                    var group_by_bubble= "{{ group_by_bubble|safe }}";
                    $('.form-control.form-control-floatingbubbles.group-by').val(group_by_bubble);
                    $('.form-control.form-control-floatingbubbles.disaggregate-by').val(disaggregated_by);

                     jstree_menu('tree_years', 'floating_bubbles_');
                     jstree_menu('tree_municipalities', 'floating_bubbles_');
                     jstree_menu('tree_activities', 'floating_bubbles_');
                     jstree_menu('tree_companies', 'floating_bubbles_');
                     jstree_menu('tree_owners', 'floating_bubbles_');
                    $('#barchart-config-form').hide();
                    $('#floatingbubbles-config-form').show();
                    $('#map-config-form').hide();
                    $('#scatterplot-config-form').hide();

                    $('#chart-type-barchart').val('Barchart');
                    $('#chart-type-scatterplot').val('Scatterplot');
                    $('#chart-type-map').val('Map');

                    // Render chart
                    renderFloatingBubblesChart(chartData);
                    toggle_all();


                    $('.jumbotron').hide();
                    $('#chart-container').css('display', 'none');
                    $('#main').css('display', 'block');
                    $('#year').removeClass('active');
                    $('#all').toggleClass('active');
                    $( ".toollabel" ).remove();
                    $('#floatingLabels').hide();
                    var labels_array = {{ selected_labels|safe }};
                    generateLabelsFlotingBubbles(labels_array);
                }

            {% else %}
                var selected_id = $( ".chart-type-dd" ).attr('id');
                if($('#' + selected_id).val() == "Barchart"){

                     jstree_menu('tree_years', 'bar_');
                     jstree_menu('tree_municipalities', 'bar_');
                     jstree_menu('tree_activities', 'bar_');
                     jstree_menu('tree_companies', 'bar_');
                     jstree_menu('tree_owners', 'bar_');
                }
                else if($('#' + selected_id).val()  == "Map"){

                     jstree_menu('tree_years', 'map_');
                     jstree_menu('tree_municipalities', 'map_');
                     jstree_menu('tree_activities', 'map_');
                     jstree_menu('tree_companies', 'map_');
                     jstree_menu('tree_owners', 'map_');
                }
                else if($('#' + selected_id).val()  == "Scatterplot"){
                     jstree_menu('tree_years', 'scatter_');
                     jstree_menu('tree_municipalities', 'scatter_');
                     jstree_menu('tree_activities', 'scatter_');
                     jstree_menu('tree_companies', 'scatter_');
                     jstree_menu('tree_owners', 'scatter_');
                }
                else{
                     jstree_menu('tree_years', 'floating_bubbles_');
                     jstree_menu('tree_municipalities', 'floating_bubbles_');
                     jstree_menu('tree_activities', 'floating_bubbles_');
                     jstree_menu('tree_companies', 'floating_bubbles_');
                     jstree_menu('tree_owners', 'floating_bubbles_');
                }
            {% endif %}
        });

        function jstree_menu(containerRef, chart_type) {
            var datum = [];

            var my_class = chart_type + containerRef;
            if(containerRef == "tree_years"){
                datum = {{ tree_years|safe }};
            }else if (containerRef == "tree_municipalities"){
                datum = {{ tree_municipalities|safe }};
            }else if (containerRef == "tree_activities"){
                datum = {{ tree_activities|safe }};
            }else if(containerRef == "tree_companies"){
                datum = {{ tree_companies|safe }};
            }else if(containerRef == "tree_owners"){
                datum = {{ tree_owners|safe }};
            }
            var options  = {
                "core": {
                    "data": datum
                    },
                    "dataType": "text",
                    "check_callback": true,
                    "types": {
                        "#": {
                            "name": "YO",
                            "valid_children": ["folder", "file"]
                        },
                        "root": {
                            "icon": false,
                            "valid_children": ["folder", "file"]
                        },
                        "folder": {
                            "icon": false,
                            "valid_children": ["folder", "file"]
                        },
                        "file": {
                            "icon": false,
                            "valid_children": []
                        }
                    },
                    "checkbox": {"real_checkboxes": "true"},
                    "plugins": ["unique", "sort", "types", "checkbox", "changed"]
            };
            $('.' + my_class).jstree(options).bind("loaded.jstree", function (NODE, REF_NODE) {

              {% if data is not none and data != 'null' %}
                  var selected_years = {{ selected_years | safe }};
                  var selected_municipalities = {{ selected_municipalities | safe }};
                  var selected_companies = {{ selected_companies | safe }};
                  var selected_activities = {{ selected_activities | safe }};
                  var selected_owners = {{ selected_owners | safe }};

                  for(var index in selected_years){
                       $('.' + my_class).jstree().check_node(selected_years[index].toString());
                  }
                  {% if all_municipalities != None %}
                        $('.' + my_class).jstree().check_node("municipalities");
                  {% else %}
                  for(var index in selected_municipalities){
                       $('.' + my_class).jstree().check_node(selected_municipalities[index].toString());
                  }
                  {% endif %}
                  {% if all_companies != None %}
                       $('.' + my_class).jstree().check_node("companies");
                  {% else %}
                  for(var index in selected_companies){
                       $('.' + my_class).jstree().check_node(selected_companies[index].toString());
                  }
                  {% endif %}
                  {% if all_activities != None %}
                       $('.' + my_class).jstree().check_node("activities");
                  {% else %}
                  for(var index in selected_activities){
                       $('.' + my_class).jstree().check_node(selected_activities[index].toString());
                  }
                  {% endif %}
                  {% if all_owners != None %}
                       $('.' + my_class).jstree().check_node("owners");
                  {% else %}
                  for(var index in selected_owners){
                       $('.' + my_class).jstree().check_node(selected_owners[index].toString());
                  }
                  {% endif %}
            {% endif %}
        });
        }

    </script>
{% endblock %}

{% block sidebar %}
<!-- BARCHART FORM -->
<form role="form" id="barchart-config-form">
   <ul style="border-style: solid; border-width: 1px; border-color: #0099CC;">
        <li class="cbp-spmenu-vertical-item-child" data-section="chart-type">
            {{ barchart_form.chart_type.label(class="control-label chart-type-label") }}
            <div class="form-group">
                {{ barchart_form.chart_type(class="form-control chart-type-dd", id="chart-type-barchart") }}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="data-barchart">
            Podaci
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="data-barchart">

            <div class="form-group">
                {{barchart_form.data_series_ukupni_prihodi(class="form-control-barchart ukupni-prihodi")}}
                {{barchart_form.data_series_ukupni_prihodi.label(class="ukupni-prihodi-label") }}
                <br>

                {{barchart_form.data_series_ukupni_rashodi(class="form-control-barchart ukupni-rashodi")}}
                {{barchart_form.data_series_ukupni_rashodi.label(class="ukupni-rashodi-label")}}
                {{barchart_form.ukupni_rashodi_categories(class="form-control form-control-barchart ukupni-rashodi-categories")}}
                <br>

                {{barchart_form.data_series_poslovni_rashodi(class="form-control-barchart poslovni-rashodi")}}
                {{barchart_form.data_series_poslovni_rashodi.label(class="poslovni-rashodi-label")}}
                {{barchart_form.poslovni_rashodi_categories(class="form-control form-control-barchart poslovni-rashodi-categories")}}
                <br>

                {{barchart_form.data_series_others(class="form-control-barchart others")}}
                {{barchart_form.data_series_others.label(class="form-control-barchart others-label")}}
                {{barchart_form.other_categories(class="form-control form-control-barchart others-categories")}}
            </div>

            {{ barchart_form.group_by.label(class="control-label group-by-label") }}
            <div class="form-group">
                {{barchart_form.group_by(class="form-control form-control-barchart group-by")}}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="filters">
          Filteri
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="filters" id="filter-section-content">
            <div class="bar_tree_years">
            </div>

            <div class="bar_tree_municipalities">
            </div>

            <div class="bar_tree_activities">
            </div>

            <div class="bar_tree_companies" >
            </div>

            <div class="bar_tree_owners">
            </div>
        </li>

        <li>
          <button type="button" class="form-control btn-success" id="visualize-barchart-button">Vizualizovati</button>

        </li>
    </ul>
</form>


<!-- Floating Bubbles FORM -->
<form role="form" id="floatingbubbles-config-form" style="display:none">
    <ul style="border-style: solid; border-width: 1px; border-color: #0099CC;">
        <li class="cbp-spmenu-vertical-item-child" data-section="floatingbubbles-chart-type">
            {{ floating_bubbles_form.chart_type.label(class="control-label chart-type-label") }}
            <div class="form-group">
                {{ floating_bubbles_form.chart_type(class="form-control chart-type-dd", id="chart-type-floatingbubbles")}}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="data-floatingbubbles">
            Podaci
        </li>

        <li class="cbp-spmenu-vertical-item-child" data-section="data-floatingbubbles">

            {{ floating_bubbles_form.data_series.label(class="control-label") }}
            <div class="form-group form-group-floatingbubbles">
            {{ floating_bubbles_form.data_series(class="form-control-floatingbubbles data-series") }}
            </div>

            {{ floating_bubbles_form.group_by.label(class="control-label group-by-label") }}
            <div class="form-group">
                {{floating_bubbles_form.group_by(class="form-control form-control-floatingbubbles group-by")}}
            </div>

            {{ floating_bubbles_form.disaggregate_by.label(class="control-label disaggregate-by-label") }}
            <div class="form-group">
                {{floating_bubbles_form.disaggregate_by(class="form-control form-control-floatingbubbles disaggregate-by")}}
            </div>

        </li>

        <!-- FILTERS -->
        <li class="cbp-spmenu-vertical-item-parent" data-section="filters">
          Filteri
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="filters" id="filter-section-content">
            <div class="floating_bubbles_tree_years">
            </div>

            <div class="floating_bubbles_tree_municipalities">
            </div>

            <div class="floating_bubbles_tree_activities">
            </div>

            <div class="floating_bubbles_tree_companies" >
            </div>

            <div class="floating_bubbles_tree_owners">
            </div>
        </li>

        <li>
          <button type="button" class="form-control btn-success" id="visualize-floatingbubbles-button">Vizualizovati</button>
        </li>

    </ul>
</form>



<!-- MAP FORM -->
<form role="form" id="map-config-form" style="display:none">
    <ul style="border-style: solid; border-width: 1px; border-color: #0099CC;">
        <li class="cbp-spmenu-vertical-item-child" data-section="map-chart-type">
            {{ map_form.chart_type.label(class="control-label chart-type-label") }}
            <div class="form-group">
                {{ map_form.chart_type(class="form-control chart-type-dd", id="chart-type-map") }}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="data-map">
            Podaci
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="data-map">

            {{ map_form.map_data_series.label(class="control-label") }}
            <div class="form-group form-group-map">
            {{ map_form.map_data_series(class="form-control-map data-series") }}
            </div>

            <div class="form-group">
                {{map_form.ukupni_rashodi_categories(class="form-control form-control-map ukupni-rashodi-categories")}}
                {{map_form.poslovni_rashodi_categories(class="form-control form-control-map poslovni-rashodi-categories")}}
                {{map_form.other_categories(class="form-control form-control-map others-categories")}}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="filters">
          Filteri
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="filters" id="filter-section-content">
            <div class="map_tree_years">
            </div>

            <div class="map_tree_municipalities">
            </div>

            <div class="map_tree_activities">
            </div>

            <div class="map_tree_companies" >
            </div>

            <div class="map_tree_owners">
            </div>
        </li>

        <li >
          <button type="button" class="form-control btn-success" id="visualize-map-button">Vizualizovati</button>
        </li>

    </ul>
</form>

<!-- SCATTERPLOT -->
<form role="form" id="scatterplot-config-form" style="display:none">
    <ul style="border-style: solid; border-width: 1px; border-color: #0099CC;">
    <li class="cbp-spmenu-vertical-item-child" data-section="scatterplot-chart-type">
            {{ scatterplot_form.chart_type.label(class="control-label chart-type-label") }}
            <div class="form-group">
                {{ scatterplot_form.chart_type(class="form-control chart-type-dd", id="chart-type-scatterplot") }}
            </div>
        </li>

        <li class="cbp-spmenu-vertical-item-parent" data-section="data-scatterplot">
            Podaci
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="data-scatterplot">

            {{ scatterplot_form.data_series.label(class="control-label") }}
            <div class="form-group form-group-scatterplot">
                {{ scatterplot_form.data_series(class="form-control form-control-scatterplot data-series") }}
            </div>

            <strong>X-axis</strong>
            <div class="form-group form-group-scatterplot">
            {{ scatterplot_form.x_axis(class="form-control-scatterplot x-axis") }}
            </div>
            <div class="form-group">
                {{scatterplot_form.ukupni_rashodi_categories(class="form-control form-control-scatterplot-x-axis ukupni-rashodi-categories")}}
                {{scatterplot_form.poslovni_rashodi_categories(class="form-control form-control-scatterplot-x-axis poslovni-rashodi-categories")}}
                {{scatterplot_form.other_categories(class="form-control form-control-scatterplot-x-axis others-categories")}}
            </div>

            <strong>Y-axis</strong>
            <div class="form-group form-group-scatterplot">
            {{ scatterplot_form.y_axis(class="form-control-scatterplot y-axis") }}
            </div>

            <div class="form-group">
                {{scatterplot_form.ukupni_rashodi_categories(class="form-control form-control-scatterplot-y-axis ukupni-rashodi-categories")}}
                {{scatterplot_form.poslovni_rashodi_categories(class="form-control form-control-scatterplot-y-axis poslovni-rashodi-categories")}}
                {{scatterplot_form.other_categories(class="form-control form-control-scatterplot-y-axis others-categories")}}
            </div>
        </li>

        <!-- FILTERS -->
        <li class="cbp-spmenu-vertical-item-parent" data-section="filters">
          Filteri
        </li>
        <li class="cbp-spmenu-vertical-item-child" data-section="filters" id="filter-section-content">
            <div class="scatter_tree_years">
            </div>

            <div class="scatter_tree_municipalities">
            </div>

            <div class="scatter_tree_activities">
            </div>

            <div class="scatter_tree_companies" >
            </div>

            <div class="scatter_tree_owners">
            </div>
        </li>

        <li>
          <button type="button" class="form-control btn-success" id="visualize-scatterplot-button">Vizualizovati</button>
        </li>
    </ul>
</form>
<br><br><br><br>

{% endblock %}

{% block jumbotron %}
    <h2>Lokalna javna preduzeća</h2>
{% endblock %}
