{% extends "layout.html" %}
{% block body %}

<!-- Header -->
<section id="title" style="padding-top:75px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img style="height:200px;" src="{{ url_for('static', filename='img/fiskalni-monitor-main-logo-horizontal.png')}}"/>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Uporedite budžete</h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a target="_blank" href="{{url_for('konsolidovani_budzet.index')}}" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/floating-bubbles.png')}}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Konsolidovani budžet</h4>
                    <!--p class="text-muted">Sve o javnim finansijama.</p-->
                </div>
            </div>
            <!--div class="col-md-4 col-sm-6 portfolio-item">
                <a target="_blank" href="#" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/grafikoni.png')}}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Grafikoni</h4>
                    <p class="text-muted">Lokalni budzeti.</p>
                </div>
            </div-->
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a target="_blank" href="{{url_for('lokalna_javna_produzeca.index')}}" class="portfolio-link" >
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/serbia-map.png')}}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Lokalna javna preduzeća</h4>
                    <!--p class="text-muted">Prijavi korupciju.</p-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Šta je Budžet.info?</h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                      <div class="timeline-image">
                        <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/icons/1.png')}}"/>
                      </div>
                        <div class="timeline-panel">

                            <div class="timeline-heading">
                                <h4 accesskey=""class="subheading">Budžet.info prati prihode i rashode gradova i opština u Srbiji i lokalnih javnih preduzeća</h4>

                            </div>
                            <!--div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div-->
                        </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-image">
                        <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/icons/2.png')}}"/>
                      </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Budžet.info  omogućava da na jednostavan i vizuelno zanimljiv način proverite koliko novca troši, odnosno sa koliko sredstava raspolaže Vaš grad ili opština</h4>
                            </div>
                            <!--div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div-->
                        </div>
                    </li>
                    <li>
                      <div class="timeline-image">
                        <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/icons/3.png')}}"/>
                      </div>
                        <div class="timeline-panel">

                            <div class="timeline-heading">
                                <h4 class="subheading">Uporedite prihode i rashode opština i gradova u Srbiji</h4>
                            </div>
                            <!--div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div-->
                        </div>
                    </li>
                    <li  class="timeline-inverted">
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/icons/4.png')}}"/>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Proverite koji gradovi/opštine su štedljivi a koji troše više nego što imaju</h4>
                            </div>
                            <!--div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div-->
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/icons/5.png')}}"/>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Saznajte iz kojih prihoda se finansiraju gradovi i opštine u Srbiji</h4>
                            </div>
                            <!--div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div-->
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/icons/6.png')}}"/>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Proverite koliko novca dobijaju lokalna javna preduzeća</h4>
                            </div>
                            <!--div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div-->
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/icons/7.png')}}"/>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Proverite kako posluju lokalna javna preduzeća</h4>
                            </div>
                            <!--div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div-->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <!--div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projekti</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div-->
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a target="_blank" href="http://voditeracuna.rs/" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/vodite-racuna-transparent-logo.png')}}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Vodite računa</h4>
                    <!--p class="text-muted">Sve o javnim finansijama.</p-->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a target="_blank" href="http://www.pratipare.rs/" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/prati-pare-logo1.png')}}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Prati pare</h4>
                    <!--p class="text-muted">Lokalni budzeti.</p-->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a target="_blank" href="http://mito.rs/" class="portfolio-link" >
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/paid-bribe.png')}}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Mito.rs</h4>
                    <!--p class="text-muted">Prijavi korupciju.</p-->
                </div>
            </div>
        </div>
    </div>
</section>



<section id="contact" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kontaktirajte nas</h2>
                <h3 class="section-subheading text-muted"><a href="mailto:office@crta.rs">Pišite nam</a> ako su vam potrebni posebni budžetski podaci ili vizualizacije.</a>.</h3>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!--span class="copyright">Copyright &copy; CRTA 2015</span-->
            </div>
            <div class="col-md-4">

                <ul class="list-inline social-buttons">
                    <li>
                        <a target="_blank" href="http://www.crta.rs/"><i class="fa fa-globe"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/CRTArs"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/CRTA-Center-for-Research-Transparency-and-Accountability-246944101993258"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/company/2779063?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2779063%2Cidx%3A1-2-2%2CtarId%3A1442944061676%2Ctas%3Acrta"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/user/Istinomer"><i class="fa fa-play"></i></a>
                    </li>
                </ul>
            </div>
            <!--div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div-->
        </div>
    </div>
</footer>
{% endblock %}
