{% extends "layout.html" %}
{% block style %}
<style type="text/css">

td {
    /* css-3 */
    word-wrap: break-word;

}
table {
  table-layout: fixed;
  width: 100%
}
</style>

{% endblock %}
{% block script %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
         $(".updateit").click(function(){
              var tr_id = $(this).attr('id');
              var data_array = []
             $("td", "#"+ tr_id).each(function(){
                data_array.push($(this).text());
             });
             console.log(data_array);
             $('#chart_id', "#myModalEdit").val(tr_id);
             $('#title', "#myModalEdit").val(data_array[0]);
             $('#chart_type', "#myModalEdit").val(data_array[1]);
             $('#description', "#myModalEdit").val(data_array[2]);
             $('#share_link', "#myModalEdit").val(data_array[3]);
         });
    });
    </script>
{% endblock %}
{% block body %}

    <div class="container" style="margin-top: 100px">


        <div class="panel panel-primary">
            <div class="panel-heading">Koristite ovu tabelu za upravaljanje predefinisanim grafikonima.
            </div>
            <div class="panel-body ">

                <button type="button" class="btn btn-sm btn-default col-xs-offset-5 col-xs-2" data-toggle="modal" data-target="#myModal">Dodaj</button>
            </div>
            <div class="table-responsive col-">
                <table class="table table-bordered table-stripped">
                    <thead>
                        <tr>
                            <th>Naslov</th>
                            <th>Tip grafikona</th>
                            <th>Opis</th>
                            <th>Share link</th>
                            <th class="col-xs-1">Operacije</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if charts_doc is defined and charts_doc|length > 0 %}
                        {% for doc in charts_doc %}
                        <tr id ="{{doc._id}}">
                            <td >{{ doc.title }}</td>
                            <td>{{ doc.chart_type }}</td>
                            <td>{{ doc.description }}</td>
                            <td><a href="{{ doc.share_link }}" style="color:darkred !important;"> {{ doc.share_link }}</a></td>
                            <td class="col-xs-1">
                                <div class="row" style="margin-left: 5px;">
                                    <div class="col-xs-5" style="padding-left: 1px;padding-right: 0;">
                                        <button type="button" data-toggle="modal" data-target="#myModalEdit" class="updateit btn btn-sm btn-default pull-right" id="{{ doc._id }}"><i class="glyphicon glyphicon-edit"></i></button>
                                    </div>
                                    <div class="col-xs-5 pull-left" style="padding-left: 1px;">
                                        <form method='get' action="{{url_for('admin.delete_chart', chart_id=doc._id) }}">
                                            <button type="submit" class="delete btn btn-sm btn-default" id ="{{ doc._id }}"><i class="glyphicon glyphicon-remove"></i></button>
                                        </form>
                                    </div>
                                </div>


                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div id="myModal" class="modal fade " data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-info">Odabrani grafikoni!</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="{{ url_for('admin.addchart') }}">
                    <div class="form-group">
                      <label for="email">Naslov:</label>
                        {{form.title(class="form-control")}}
                    </div>
                    <div class="form-group">
                      <label for="pwd">Tip grafikona:</label>
                      {{form.chart_type(class="form-control")}}
                    </div>
                    <div class="form-group">
                      <label for="pwd">Opis:</label>
                      {{form.description(class="form-control")}}
                    </div>
                    <div class="form-group">
                      <label for="pwd">Share Link:</label>
                      {{form.share_link(class="form-control")}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                        <button type="submit" class="btn btn-info">Pošalji</button>
                    </div>

                  </form>
            </div>
        </div>
    </div>
    </div>

<div id="myModalEdit" class="modal fade " data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-info">Edit!</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="{{ url_for('admin.editchart') }}">
                    {{ form.chart_id() }}
                    <div class="form-group">
                      <label for="email">Naslov:</label>
                        {{form.title(class="form-control")}}
                    </div>
                    <div class="form-group">
                      <label for="pwd">Tip grafikona:</label>
                      {{form.chart_type(class="form-control")}}
                    </div>
                    <div class="form-group">
                      <label for="pwd">Opis:</label>
                      {{form.description(class="form-control")}}
                    </div>
                    <div class="form-group">
                      <label for="pwd">Share Link:</label>
                      {{form.share_link(class="form-control")}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                        <button type="submit" class="btn btn-info">Edit</button>
                    </div>

                  </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}




