{% extends "layout.html" %}
{% block style %}
<style>
td {
    /* css-3 */
    word-wrap: break-word;

}
table {
  table-layout: fixed;
  width: 100%
}
</style>

{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 100px">

    {% if charts_doc is defined and charts_doc|length > 0 %}
    {% for doc in charts_doc %}

        <div class="panel panel-primary" style="">
            <div class="panel-heading">
                <div class="panel-title">{{ doc.title }}</div>
            </div>
            <div style="" class="panel-body">
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tip grafikona</th>
                            <th>Opis</th>
                            <th>Share link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id ="{{doc._id}}">
                            <td>{{ doc.chart_type }}</td>
                            <td>{{ doc.description }}</td>
                            <td><a href="{{ doc.share_link }}" style="color:darkred !important;"> {{ doc.share_link }}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
     {% endfor %}
     {% endif %}

    </div>
{% endblock %}

