{% extends "layout.html" %}
{% block body %}

<div class="container" style="margin-top: 100px">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-2">
    {% if error != None %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}

        <div class="panel panel-primary" >
            <div class="panel-heading">
                <div class="panel-title">Uloguj se</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px">Uloguj se za pristup admin delu</div>
            </div>
            <div style="padding-top:30px" class="panel-body" >

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form id="loginform" action="{{ url_for('admin.login') }}" method="post" class="form-horizontal" role="form">
                    <div style="margin-bottom: 25px" class="col-xs-offset-2 col-xs-8">
                        {{form.username(class="form-control", placeholder="Korisničko ime")}}
                    </div>
                    <div style="margin-bottom: 25px" class="col-xs-offset-2 col-xs-8">
                        {{form.password(class="form-control", placeholder="Šifra")}}
                    </div>
                    <div style="margin-bottom: 25px" class="col-xs-offset-2 col-xs-8">
                        <button type="submit" class="btn btn-success">Uloguj se</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}





