<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Meta stuff -->
      <title>CRTA Budžet.info</title>
      <meta name="description" content="Sve o budžetime vašeg grada ili opštine. Različiti gradovi imaju različite budžete. Uporedite ko koliko troši i sa koliko para poreskih obveznika (nas građana Republike Srbije) raspolaže.">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="author" content="">

      <meta name="viewport" content="width=device-width,initial-scale=1">

      <meta charset="utf-8">

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@CRTArs">
      <meta name="twitter:title" content="Sve o budžetime vašeg grada ili opštine #BudžetInfo: ">
      <meta name="twitter:description" content="Sve o budžetime vašeg grada ili opštine #BudžetInfo: ">
      <meta name="twitter:creator" content="@CRTArs">
      <meta name="twitter:image" content="http://budzet.info/static/img/fiskalni-monitor-main-logo-horizontal.png">

      <!-- Open Graph data -->
      <meta property="og:title" content="Budžet.info" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://budzet.info/" />
      <meta property="og:image" content="http://budzet.info/static/img/fiskalni-monitor-main-logo-horizontal.png"/>
      <meta property="og:description" content="Sve o budžetime vašeg grada ili opštine." />
      <meta property="og:site_name" content="Budžet.info" />

      <!-- CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/theme/bootstrap.css')}}" media="screen">

      <!-- D3 js CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/theme/reset.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/theme/d3_style.css')}}">

      <!-- Own CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='filter-controls/filter-controls.css') }}"/>

      <!-- jsTree -->
      <link href="{{ url_for('static', filename='jstree/themes/default/style.min.css')}}" rel="stylesheet">


      {% block style %}
      {% endblock %}
      <!-- JAVASCRIPT -->
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='bootstrap/bootstrap/html5shiv.js')}}"></script>
        <script src="{{ url_for('static', filename='bootstrap/bootstrap/respond.min.js')}}"></script>
      <![endif]-->

      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://code.jquery.com/jquery-latest.min.js"></script>

      <!-- Highcharts -->
      <!--
      <script src="http://code.highcharts.com/maps/modules/data.js"></script>
      <script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
      -->
      <script src="http://code.highcharts.com/highcharts.js"></script>
      <script src="http://code.highcharts.com/maps/modules/map.js"></script>

      <!-- Plugin JavaScript -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="{{ url_for('static', filename='filter-controls/classie.js')}}"></script>

      <!-- Bootstrap -->
      <script src="{{ url_for('static', filename='bootstrap/bootstrap/bootstrap.js')}}"></script>

      <!-- Agency Bootstrap Theme files -->
      <script src="{{ url_for('static', filename='bootstrap/bootstrap/agency.js')}}"></script>
      <script src="{{ url_for('static', filename='bootstrap/bootstrap/cbpAnimatedHeader.js')}}"></script>

      <!-- Sidebar panel -->
      <script src="{{ url_for('static', filename='filter-controls/filter-controls.js') }}"></script>

      <!-- jstree -->
      <script src="{{ url_for('static', filename='jstree/jstree.min.js')}}"></script>

      <!-- prism -->
      <script src="{{ url_for('static', filename='prism/prism.js')}}"></script>
      <link href="{{ url_for('static', filename='prism/prism.css')}}" rel="stylesheet">

      <!-- social media share -->
      <script src="{{ url_for('static', filename='social-media-sharer/jquery.share.js') }}" ></script>
      <link href="{{ url_for('static', filename='social-media-sharer/jquery.share.css') }}" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="{{ url_for('static', filename='css/agency.css')}}" rel="stylesheet">

     <!-- WaitMe -->
     <link rel="stylesheet" href="{{ url_for('static', filename='waitMe/waitMe.min.css') }}" />
     <script src="{{ url_for('static', filename='waitMe/waitMe.min.js') }}"></script>



      <!-- Custom Fonts -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" >

      {% block script %}
      {% endblock %}
  </head>
    <body id="page-top" class="index">
    <img src="{{ url_for('static', filename='img/fiskalnimonitor-logo.png')}}" style="height:40px; display: none;" >
    <nav class="navbar navbar-primary navbar-fixed-top" id="the-nav-bar">
      <div class="container">
        <div class="navbar-header page-scroll">
          <a href="{{url_for('landing_page.index')}}" class="navbar-brand"><img style="height:40px;" src="{{ url_for('static', filename='img/fiskalnimonitor-white-logo.png')}}">Budžet.info</a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse.navbar-collapse" style="background-color: lightgrey !important;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar btn-danger"></span>
                    <span class="icon-bar btn-danger"></span>
                    <span class="icon-bar btn-danger"></span>
                </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>

            <li id="navbar-item-konsolidovani-budzet">
                <a class="page-scroll" href="{{url_for('konsolidovani_budzet.index')}}">Finansijski izveštaji</a>
            </li>
            <li id="navbar-item-lokalna-javna-produzeca">
                <a class="page-scroll" href="{{url_for('lokalna_javna_produzeca.index')}}">Lokalna javna preduzeća</a>
            </li>

            <li id="navbar-item-api">
              <a class="page-scroll" href="{{url_for('admin.featured_charts')}}">Odabrani grafikoni</a>
            </li>

            <li id="navbar-item-api">
                <a class="page-scroll" href="{{url_for('api.index')}}">API</a>
            </li>
            {% if session.logged_in is defined %}
            <li>
                 <a class="page-scroll" href="{{url_for('admin.panel')}}">Panel</a>
            </li>
            {% endif %}
            <li id="navbar-item-admin">
                {% if session.logged_in is not defined %}
                <a class="page-scroll" href="{{url_for('admin.login')}}">Uloguj se</a>
                {% else %}
                <a class="page-scroll" href="{{url_for('admin.logout')}}">I Logue se</a>
                {% endif %}
            </li>

    		</ul>
        </div>
      </div>
    </nav>

    {% block body %}
    {% endblock %}
  </body>
</html>
