{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='tourbus/jquery-tourbus.css') }}">
<style>

#cbp-spmenu-s1 {
    width: 100%;
    height:100%;
}
</style>
{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='tourbus/jquery-tourbus.min.js')}}"></script>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='d3_bubbles/js/libs/jquery-1.6.2.min.js')}}"><\/script>')</script>

  <script defer src="{{ url_for('static', filename='d3_bubbles/js/plugins.js')}}"></script>
  <script defer src="{{ url_for('static', filename='d3_bubbles/js/script.js')}}"></script>
  <script src="{{ url_for('static', filename='d3_bubbles/js/CustomTooltip.js')}}"></script>
  <script src="{{ url_for('static', filename='d3_bubbles/js/libs/d3.js')}}"></script>
  <script src="{{ url_for('static', filename='d3_bubbles/js/vis.js')}}"></script>

<script>
    // Global variable to store the request filter
    // We are going to use it to generate the share link when we want to share the generated chart.
    // It is important that we use a global variable instead of fetching from the form because the user is able
    // to alter the form AFTER the visualization was generated whereas this variable will remain unchanged and true
    // to the chart currently presented.
    var current_query_params = undefined;

    var ENABLE_SHARE_URL = true;
    var HOST = '{{ config.HOST }}';
    var BITLY_API_KEY = '{{ config.BITLY_API_KEY }}';
    var BITLY_LOG_IN = '{{ config.BITLY_LOG_IN }}';
    var LARGE_LOGO_URL = HOST + "{{ url_for('static', filename='images/fiskalni-monitor.png') }}";

    /**
     * Shorten the given URL using bit.ly URL shortner API.
     * Render a share button with the shortened URL.
     */
    function renderShortenedShareUrlButton(generateShareUrlFunction, renderShareButtonCallbackFunction){
        if (ENABLE_SHARE_URL == true) {

            var longUrl = generateShareUrlFunction();
            $.getJSON(
                "http://api.bitly.com/v3/shorten?callback=?",
                {
                    "format": "json",
                    "apiKey": BITLY_API_KEY,
                    "login": BITLY_LOG_IN,
                    "longUrl": longUrl
                },
                function(response)
                {
                    var shortenUrl = response.data.url;
                    console.log(shortenUrl);
                    renderShareButtonCallbackFunction(shortenUrl);
                }
            );
        }

    }

    $(document).ready(function(){
        $('#all').click(function(){
            $('#floatingLabels').hide();
        });
        $('#year').click(function(){
            $('#floatingLabels').show();
        });
    });
    /**
     * Load Google API services we want to use.
     * In our case, we just want to access the URL shortner service.
     */
    function googleapisload() {
        gapi.client.setApiKey('{{ config.GOOGLE_API_KEY }}');
        gapi.client.load('urlshortener', 'v1');
    }

</script>
<script src="https://apis.google.com/js/client.js?onload=googleapisload"></script>
<script>

</script>

<!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
{% endblock %}

{% block body %}
<div class="container">
    <!-- body has the class "cbp-spmenu-push" -->
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        {% block sidebar %}
        {% endblock %}
    </div>
    <div id="canvas" style="margin-top:40px;margin-left:280px">

        <div class="jumbotron" style="margin-left:50px;">
            {% block jumbotron %}{% endblock %}
        </div>
        <div id="chart-container" style="height: 700px; width: 600px; margin-left:50px;" >

        </div>

        <div id="main" role="main" style="display: none; margin-top: 100px; margin-left:50px;">
          <div id="view_selection" class="btn-group">
            <a href="#" id="all" class="btn btn-default active">Aggregated </a>
            <a href="#" id="year" class="btn btn-default">Disaggregated </a>
          </div>
            <br><br>
            <div id="floatingLabels" style="width: 1240px; height: auto; font-size: larger;align-content: center;">
            </div>
          <div id="vis"></div>
        </div>

        <div id="socialShare">
        </div>


        <div id="tours">
            {% block tours %}
            {% endblock %}
        </div>

        <div id="floatingBubbles" style="display: none;">

        </div>

    </div>

    <div id="myModal" class="modal fade " data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-warning">Warning!</h4>
            </div>
            <div class="modal-body">
                <p id="modalMessage" style="font-size: large;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}
</div>




